/* parox-case */
.parox-case { background-color: #fff; border-bottom: 8px solid #0893d2; }
.parox-case .case-jumbotron { background-image: url("/img/bground_news.jpg"); background-size: cover; background-position: center top; min-height: 580px; }

.parox-case .case-jumbotron .title { font-size: 36px; color: #fff; padding-top: 220px; }
.parox-case .case-jumbotron .desc { font-size: 20px; color: rgba(255,255,255,0.9); padding-top: 40px; }
.parox-case .case-jumbotron .title.fadeIn { -webkit-animation: moveDownShort 2s; animation: moveDownShort 2s; }
.parox-case .case-jumbotron .desc.fadeIn { -webkit-animation: moveUpShort 2s; animation: moveUpShort 2s; }

.parox-case .case-nav { margin: 20px auto; display: table; content:''; clear: both; }
.parox-case .case-nav li { float: left; margin-left: -1px;  }
.parox-case .case-nav li a { display: inline-block; text-align: center; font-size: 20px; width: 100px; padding: 10px; text-decoration: none; color: #333; border: 1px solid #f2f2f2; }
.parox-case .case-nav li:hover a,
.parox-case .case-nav li:focus a { background-color: #f9f9f9; }
.parox-case .case-nav li.active a { background-color: #0893d2; border-color: #0893d2; color: #fff; }

.parox-case .breadcrumb {
  background: transparent;
  padding: 20px 0 10px;
}

.parox-nav .parox-nav-logo { box-sizing: content-box; display: block; height: 30px; line-height: 30px; padding: 5px 30px; }
.parox-nav .parox-nav-logo img { width: auto; height: 30px; }


.case-list li:first-child { border-top: 1px solid #f2f2f2; }
.case-list li { border-bottom: 1px solid #f2f2f2; padding-top: 25px; padding-bottom: 25px; }
.case-list li .media { margin-right: 20px; }
.case-list li .media .pull-right { margin-left: 40px !important; }
.case-list li .media .title { padding-bottom: 20px; }
.case-list li .media .title a { font-size: 24px; font-weight: normal; color: #333; text-decoration: none; }
.case-list li .media .title a:hover { color: #0893d2; }
.case-list li .media .desc { font-size: 14px; color: rgba(0,0,0,0.6) }
.case-list li .media .date { font-size: 12px; color: rgba(0,0,0,0.6) }

.case-list .case-img { float: right; margin-left: 25px; position: relative; }
.case-list .case-img .cover { opacity: 0; position: absolute; top: 0; bottom: 0; right: 0; left: 0 ; background-color: rgba(0,0,0,0.4); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.case-list .case-img .cover .readmore { width: 130px; height: 40px; text-align: center; position: absolute; top: 50%; left: 50%; margin-left: -65px; margin-top: -20px; color: #fff; padding: 10px; border: 1px solid #fff; border-radius: 3px; background-color: rgba(255,255,255,0.2) }
.case-list .case-img:hover .cover { opacity: 1; }
.case-list .case-img:hover .cover .readmore { -webkit-animation: moveLeftShort 0.3s; animation: moveLeftShort 0.3s; }

.copyright { background: #000; text-align: center; }
.copyright p { color: #fff; padding: 10px; margin: 0; }

