@CHARSET "UTF-8";
.parox-about .about-jumbotron .title { font-size: 34px; color: #fff; position: absolute; top: 300px; z-index: 99; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; }
p{font-size:16px}
