#footer  a +a{ color:#d0d0d0; text-decoration:none;}
#footer  a:hover{ color:#FFFFFF;border-style: none}

#rock-navigation  a:hover{ color:#FFFFFF;border-style: none}

#header{
	background-image:  url(/img/background.jpg);
	background-size:100% 100%;
	img-responsive;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height:1000px;
	background-position:center;
	background-repeat: no-repeat;
}


#footer{
	background-color: #4F4F4F;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 40px;

}

.ft-white{
	color:#FFFFFF;
	}
	
.ft-grey{
	color:#d0d0d0;
}

#title{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.f-travel{
	color:#FFFFFF;
	font-size: 40px;
	 }

.f-travel:first-child{
	color:#FFFFFF;
	font-size: 40px;
	margin-top: 500px;
	
	 }

.btn-online{
	  padding: 10px 16px;
	  font-size:32px;
	  line-height: 1.3333333;
	  border-radius: 85px;
	  background-color: #2894FF;
	  margin-top: 50px;
	  color: #FFFFFF;
	  margin-left: 60px;
	  border-top-width: 0px;
	  border-right-width: 0px;
	  border-bottom-width: 0px;
	  border-left-width: 0px;
}

.f-red{
	  font-size: 64px;
	  color: #FF7800;
	  text-align: center;
	  margin-top: 30px;
}

.f-black{
	  font-size: 50px;
	  color: #6c7275;
	   text-align: center;
}

.f-white-lg{
	  font-size: 36px;
	  color: #FFFFFF;
	   text-align: right;
}

.f-grey-lg{
	  font-size: 24px;
	  color: #ADADAD;
	   text-align: right;

}

.f-white-md{
	  font-size: 20px;
	  color: #FFFFFF;
	 line-height:1.0;
	   text-align: center;
}

.tl{
	text-align: left;
}
.tr{
	text-align: right;
}

.wechat {
  position: absolute;
  top: -80px;
  left: -0px;
  display: none;
}

h4 {
  font-size: 18px;
  line-height: 1.538462;
}

h5 {
  font-size: 16px;
  line-height: 1.538462;
  margin-top: 10px;
  margin-bottom: 10px;
}
